*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --ca-ro: #1325AB;
    --nav: #2863FF;
    --fonts-primary: #2c2c2c; 
    --borders: #474747;
}

/* ------------------------------- */

header{
    background-color: var(--nav);
    color: white;
}

#color{
    background-color: var(--ca-ro);
}

.end{
    background-color: var(--ca-ro);
    max-width: 1010px;
    margin: auto;
}

.aliend{
    display: flex;
    justify-content: space-between;
}

.end  p{
    display: inline-block;
    padding: 10px;
}

.nav{
    background-color: var(--nav);
    padding: 20px 0px;
    font-size: 22px;
    max-width: 1010px;
    margin: 0 auto;
}

.alinav{
    display: flex;
    justify-content: space-between;
}

.alinav > h1{
    padding: 7px;
}

.nav-header {
    margin-left: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}

.nav-header > li {
    display: inline-block;
    padding-left: 5px;
}

.nav-header a:hover {
    color: var(--ca-ro);
    transition: all;
    transition-duration: 0.3s;
    border-bottom: var(--ca-ro) 4px solid;
}

a{
    text-decoration: none;
    color: white;
    padding-bottom: 2px;
}

@media screen and (max-width: 630px) {
    .end  p{
        display: inline;
    }

    .aliend{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .num{
        align-self: flex-end;
    }

    .alinav{
        justify-content: space-around;
        flex-direction: column;
    }

    .alinav > h1{
        padding: 0;
        padding: 5px;
    }

    ul{
        padding: 0;
        margin: 0;
    }
}

/* ------------------------- */

.containers-main {
    max-width: 1000px;
    margin: auto;
}

#hp{
    max-width: 500px;
    margin: 50px 0px;
    font-size: 45px;
    padding: 5px;
    color: var(--fonts-primary);
}

.art{
    border-top: 2px solid var(--nav);
    padding: 50px 10px;
    font-weight: lighter;
    display: flex;
    justify-content: space-between;
}

.art h2{
    font-size: 2.5rem;
    margin: 20px 0;
    color: var(--fonts-primary);
}

.art > .col {
    max-width: 500px;
}

.art p{
    text-align: left;
    margin: 15px 0;
    color: rgba(0, 0, 0, 0.616);
    text-rendering: 3em;
    font-size: 1.1em;
}

.cores{
    border-top: 2px solid var(--nav);
    padding: 0px 8px;
    margin-bottom: 70px;
}

.tema-h2{
    padding: 0 10px;
    margin: 40px 0;
    font-size: 45px;
    color: var(--fonts-primary);
}

.alicor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.c1{
    border-top: 10px solid #239fc591;
    align-self: flex-end;
}

.c2{
    border-top: 10px solid #69478193;
}

.c3{
    border-top: 10px solid #ffb2d39c;
    align-self: flex-end;
}

.card-h3 {
    background-color: rgb(236, 236, 236);
    font-size: 45px;
    padding: 50px 10px;
    color: rgba(0, 0, 0, 0.418);
}

.c2 > .imgs{
    height: auto;
    width: 275px;
}

.imgs{
    width: 250px;
}

.precos {
    padding-bottom: 60px;
    background-color: #f8f8f8;
}

.containers-main {
    border-top: 2px solid var(--nav);
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 18px;
    max-width: 960px;
    justify-content: space-evenly;
}

.card-preco {
    background-color: #f7f7f7;
    height: auto;
    width: 200px;
    padding: 16px 26px;
    border: #fff solid 6px;
}

.precos-header {
    padding: 6px 0;
    border-bottom: #fff 6px solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 18px;
    font-size: 1.4em;
}

.precos-header > h3 {
    color: #686868;
}

.precos-header > p {
    color: #2e2e2e;
    font-weight: bold;
}

.list-atributos {
    padding: 10px 8px;
    font-size: 1.1em;
    font-weight: lighter;
    color: #686868;
}

.list-atributos > ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-style: italic;
}

.btn-compra {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: var(--borders) solid 4px;
    font-size: 1.4em;
    padding: 18px 0;
    color: var(--fonts-primary);
    font-weight: bold;
    cursor: pointer;
    background-color: #f8f8f8;
}

.btn-compra:hover {
    background-color: #686868;
    border: #fff solid 4px;
    color: #fff;
    transition: all .2s;
}

.containers-form {
    max-width: 1000px;
    margin: 0 auto;
}

.email {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 90px 0;
}

.fale-conosco {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.fale-conosco > h2 {
    color: #686868;
    font-size: 2.5em;
}

.fale-conosco > p {
    font-style: italic;
    color: #686868;
}

.form-email {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form-email > input {
    border: none;
    padding: 16px 10px;
    font-size: 1.2em;
    color: #fff
}

.form-email > input[type="text"] {
    border: var(--nav) 4px solid;
    width: 220px;
}

.form-email > input[type="submit"] {
    border: var(--nav) 4px solid;
    background-color: var(--nav);
    padding: 16px 28px;
    cursor: pointer;
}

li {
    list-style: none;
}

@media screen and (max-width: 830px) {
    .alicor{
        justify-content: center;
    }

    .c3 > .imgs{
        width: auto;
    }

    .cards {
        justify-content: center;
    }
}

@media screen and (max-width: 750px) {
    .art{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: justify;
    }

    .forc .imgs{
        width: calc(100% - 50px);
    }
}


/* -------------------- */

footer {
    padding: 50px;
    background-color: var(--nav);
    text-align: center;
    color: rgb(20, 20, 128);
    font-weight: normal;
}
footer a {
    color: rgb(20, 20, 128);
}

footer a:hover {
    color: #fff;
    transition: all .2s;
}

